:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
}

body {
  margin: 0;
  display: grid;
  min-height: 100dvh;
  place-items: center;
}

.app {
  text-align: center;
  padding: 2rem;
}

.text-left {
  text-align: left;
}

.map-legend-list {
  display: flex;
}

.map-legend-item {
  width: 40px;
  height: 40px;
}

button {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
}


